# .env
#Note names must exactly match the name from the actual file in the path
#MMprojects are only needed if the model has vision capabilites, match it to the correct family
#Special arguments are for additoinal llama.cpp parameters, they are optional but can be used to optimize performance or enable features. Make sure to separate each argument with a space and include the leading dashes (e.g., --flash-attn on)
#This is where you enable MTP
#For FLM models make sure that you model name is the same as appears in your FLM list file
#install fast flow LLM models by using the fast flow CLI, then add them here. 
#For it's path you can put whatever you like since the command doesn't use it.  Additonaly FLM don't need a mmproj file. Use FLM Pull fetch a model and flm list to see availble ones
MODELS='[
  {
    "name": "QWEN_PRIME",
    "display_name": "QWEN_CODER",
    "path": "path.gguf",
    "mmproj": "path.mmproj",
    "server_path": "path.llama-server",
    "engine": "llama.cpp",
    "special_arguments": "-c 32768 -np 1 -t 8 -fa --cache-type-k q8_0 --cache-type-v q8_0 --spec-type draft-mtp --spec-draft-n-max 2 --spec-draft-p-min 0.75"
  },  
  {
    "name": "qwen3.5:9b",
    "display_name": "Qwen_9B NPU",
    "path": "garbage",
    "server_path": "Literally whatever works",
    "engine": "Fast_flow"
  },
  {
    "name": "qwen3.5:4b",
    "display_name": "Qwen_4B NPU",
    "path": "garbage",
    "server_path": "Literally whatever works",
    "engine": "Fast_flow"
  }
]'
pdf_directory="The directory you want the model to be able to search PDFs in"