# .env
LLAMA_SERVER_PATH="C:/ai/llama.cpp/llama-server.exe"

#Note names must exactly match the name from the actual file in the path
#MMprojects are only needed if the model has vision capabilites, match it to the correct family
#Special arguments are for additoinal llama.cpp parameters, they are optional but can be used to optimize performance or enable features. Make sure to separate each argument with a space and include the leading dashes (e.g., --flash-attn on)
#This is where you enable MTP
MODELS='[
  {
    "name": "qwen-coder",
    display_name": "QWEN_CODER",
    "path": "C:/ai/models/qwen-coder.gguf",
    "mmproj": "C:/ai/models/qwen-mmproj.gguf"
    "llama_server_path": "C:/ai/llama.cpp/llama-server.exe"
  },
  {
    "name": "qwen-larger",
    "display_name": "QWEN_LARGER",
    "path": "C:/ai/models/qwen-larger.gguf",
    "mmproj": "C:/ai/models/qwen-mmproj.gguf"
    "llama_server_path": "C:/ai/llama.cpp/llama-server.exe"
  },
  {
    "name": "qwen-9b",
    "display_name": "QWEN_9B",
    "path": "C:/ai/models/qwen-9b.gguf"
    "llama_server_path": "C:/ai/llama.cpp/llama-server
  }
]'

