# .env
#Name/Display name feilds are used for FLM models where teh name feild must match the exact name in teh flm list command. Display name is for your UI.
#In llama.cpp files the name feild is unused.
#MMprojects are only needed if the model has vision capabilites, match it to the correct family
#Special arguments are for additoinal llama.cpp parameters, they are optional but can be used to optimize performance or enable features. Make sure to separate each argument with a space and include the leading dashes (e.g., --flash-attn on)
#This is where you enable MTP
#the context feild is teh context size that will be reported to whatever interface you use (Optional since it's not always required.)
# FLM defaults this to depend on the model but its genrally large. If you leave it unset a response is capped at 2048 tokens. Chat size is left to be determined by the model
#provider
# Some models (Qwen 3.5 family need the --reasoning-format deepseek to not have issues)

#For FLM models make sure that you model name is the same as appears in your FLM list file
#install fast flow LLM models by using the fast flow CLI, then add them here. 
#For it's path you can put whatever you like since the command doesn't use it.  Additonaly FLM don't need a mmproj file. Use FLM Pull fetch a model and flm list to see availble ones
MODELS='[
  {
    "name": "QWEN_PRIME",
    "display_name": "QWEN_CODER",
    "path": "path.gguf",
    "mmproj": "path.mmproj",
    "server_path": "path.llama-server",
    "engine": "llama.cpp",
    "special_arguments": "-c 32768 -np 1 --reasoning-format deepseek -t 8 -fa --cache-type-k q8_0 --cache-type-v q8_0 --spec-type draft-mtp --spec-draft-n-max 2 --spec-draft-p-min 0.75",
    "context": 24576
  },  
  {
    "name": "qwen3.5:9b",
    "display_name": "Qwen_9B NPU",
    "path": "garbage",
    "server_path": "Literally whatever works",
    "engine": "Fast_flow",
    "context": 2048
  },
  {
    "name": "qwen3.5:4b",
    "display_name": "Qwen_4B NPU",
    "path": "garbage",
    "server_path": "Literally whatever works",
    "engine": "Fast_flow",
  }
]'
pdf_directory="The directory you want the model to be able to search PDFs in"

TAVILY_API_KEY="The API key you get from Tavily."